* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Montserrat", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.box {
    border-radius: 45px;
    background-color: #f0ece1;
    height: 600px;
    width: 400px;
    padding: 20px 25px;
}

.box h1 {
    text-align: center;
    font-size: 40px;
}

.dati-input {
    margin: 20px 0;
}

.title {
    font-size: 28px;
    margin: 10px 0;
}

.hide {
    opacity: 0;
}

.show {
    opacity: 1;
}

.nome h2 {
    font-size: 16px;
    font-weight: 500;
    margin: 10px 0;
}

#nome-passeggero {
    font-style: italic;
    color: #ff9100;
    text-transform: capitalize;
}

.offerta {
    background-color: #f0f0f0;
    font-weight: 700;
    margin: 20px 0 0;
}

.p__table--style th,
.p__table--style td {
    padding: 5px 10px;
    text-align: center;
}

.p--red {
    color: #ff4800;
}
